@charset "utf-8";

@font-face {font-family: "Cyberwar"; src: url(../font/CyberwarRegular-7BX0E.ttf) format('truetype')}
@font-face {font-family: "Glitch Goblin"; src: url(../font/GlitchGoblin-2O87v.ttf) format('truetype');}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

#wrap {width: 100%; margin: 0 auto; background-color: black;}

@media (max-width:769px) {
header {width: 100%; height: 80px; margin: 0 auto;display: flex; flex-direction: row;justify-content: space-between; position: relative; z-index: 10;}
.menu-trigger {margin-right: 25px; margin-top: 20px; position: relative; width: 40px; height: 34px;}
.menu-trigger span {position: absolute; left: 0; width: 100%; height: 4px; background-color: #fff; border-radius: 4px;}
.menu-trigger, .menu-trigger span {display: inline-block; transition: all .4s; box-sizing: border-box;}
.menu-trigger span:nth-of-type(1) {top: 0;}
.menu-trigger span:nth-of-type(2) {top: 15px;}
.menu-trigger span:nth-of-type(3) {bottom: 0;}

.menubar {width: 100%;display: none; position: absolute; top: 80px;left: 0;}
.menubar a:hover {color: cyan;}
.list_me {width:100%; display: flex; flex-direction: column;background-color: rgba(0,0,0,0.8); }
.main_menu {display: flex; flex-direction: column;z-index: 10;}
.main_menu>li {font-size: 24px; width: 100%; height: auto;line-height: 80px;}
.main_menu>li a {font-family: "Glitch Goblin"; color: #fff; padding: 0 0 0 5px;}

.sub {width: 100%;display: none;background-color: #333;opacity: 0.8;z-index: 10;}
.sub>li {font-size: 16px; height: 50px; color: #fff; line-height: 50px;}
.sub>li:hover {background-color: gold; cursor: pointer;}
.sub>li:hover a{color: violet;}
	
/*작은 사이즈에서 사용*/
.contbox_me {width: 20%; height: 100%; display: none; flex-direction: row; align-items: center; justify-content: flex-end;}
.contbox_me i {font-size: 24px; color: #fff;}
.contbox_me a {margin: 0 10px 0 10px;}
.contbox_me i:hover {color: cyan;}
.play {display: block; padding: 10px 20px; background-color: gold; border-radius: 10px; font-size: 20px; font-family: "Glitch Goblin";color: #333;} 
.contbox_me > .play:hover {color: #fff; background-color: yellow;}
			
/*footer 내용*/
footer {width: 100%; height: 680px; background-color: black;margin: 0 auto;}
footer br {margin: 30px 0 30px 0;}
			
.media_box {width: 100%; height: 140px; margin: 0 auto; text-align: center;margin-top: 40px; margin-bottom: 20px; display: flex; flex-flow: row wrap; justify-content: space-around;}
.media_box h3 {font-size: 26px; color: #fff; width: 100%; height: 45px; margin-bottom: 20px;}
.media_box a {color: #fff; border: 1px none; width: 12vw; height: 12vw;border-radius: 50%; background-color: #222;display: flex; justify-content: center; align-items: center;}
.media_box i {font-size: 6vw}
.media_box i:hover {color: #333; transform: scale(1.2); font-size: 7vw;}
.media_box i:hover {background-color: #fff; border: 1px none; width: 12vw; height: 12vw; border-radius: 50%; display: flex;justify-content: center; align-items: center;}
			
.logo_footer {width: 80%; margin: 0 auto; display: flex; flex-flow: row; justify-content: space-around; align-items: center;margin-bottom: 40px;}
.logo_footer img {width: 103px; align-self: center;}
.logo_footer p {font-size: 10px; color: #fff; padding: 0 0 0 10px;}
			
.regulration {width: 80%; margin: 0 auto; display: flex; flex-flow: row wrap; justify-content: center;}
.regulration table {display:block; margin:4px 0 0 0; line-height:30px; border: 1px solid #222; border-collapse: collapse; font-size: 10px; width: 600px;}
.regulration table td {border: 1px solid #222; width: 25%; padding: 0 10px 0 25px; background-color: gold;}
.regulration table th {border: 1px solid #222; width: 25%; padding: 0 10px 0 10px; background-color: gold; font-size: 12px;}
		   
/*주요 Content 사이 간격 조정*/
#void {width: 100%; height: 30px; margin: 0 auto;}
	
.menu-trigger.active span:nth-of-type(1) {
	-webkit-transform : translateY(10px) rotate(-45deg);
	transform : translateY(10px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
	left : 50%;
	opacity : 0;
	-webkit-animation : active-menu-bar05 .8s forwards;
	animation : active-menu-bar05 .8s forwards;
}
@-webkit-keyframes active-menu-bar05 {
	100% {
		height: 0;
	}
	}
@keyframes active-menu-bar05 {
	100% {
		height: 0;
	}
}
.menu-trigger.active span:nth-of-type(3) {
	-webkit-transform : translateY(-20px) rotate(45deg);
	transform : translateY(-20px) rotate(45deg);
}
}



@media (min-width:770px) and (max-width:1199px){
header {width: 100%; height: 80px; margin: 0 auto;display: flex; flex-direction: row;justify-content: space-between;z-index: 10;}
.menu-trigger {margin-right: 25px; margin-top: 17px; position: relative; width: 45px; height: 39px;}
.menu-trigger span {position: absolute; left: 0; width: 100%; height: 4px; background-color: #fff; border-radius: 4px;}
.menu-trigger, .menu-trigger span {display: inline-block; transition: all .4s; box-sizing: border-box;}
.menu-trigger span:nth-of-type(1) {top: 0;}
.menu-trigger span:nth-of-type(2) {top: 17px;}
.menu-trigger span:nth-of-type(3) {bottom: 0;}

.menubar {width: 100%;display: none; position: absolute; top: 80px;left: 0; z-index: 10;}
.menubar a:hover {color: cyan;}
.list_me {width:100%; display: flex; flex-direction: column;background-color: rgba(0,0,0,0.8); }
.main_menu {display: flex; flex-direction: column;}
.main_menu>li {font-size: 24px; width: 100%; height: auto;line-height: 80px;}
.main_menu>li a {font-family: "Glitch Goblin"; color: #fff; padding: 0 0 0 5px;}

.sub {width: 100%;display: none;background-color: #333;opacity: 0.8;z-index: 10;}
.sub>li {font-size: 16px; height: 50px; color: #fff; line-height: 50px;}
.sub>li:hover {background-color: gold; cursor: pointer;}
.sub>li:hover a{color: violet;}

/*해당 사이즈에서는 사용안함*/
.contbox_me {width: 20%; height: 100%; display: none; flex-direction: row; align-items: center; justify-content: flex-end;}
.contbox_me i {font-size: 24px; color: #fff;}
.contbox_me a {margin: 0 10px 0 10px;}
.contbox_me i:hover {color: cyan;}
.play {display: none; padding: 10px 20px; background-color: gold; border-radius: 10px; font-size: 20px; font-family: "Glitch Goblin";color: #333;} 
.contbox_me > .play:hover {color: #fff; background-color: yellow;}
    
/*footer 내용*/
footer {width: 100%; height: 460px; background-color: black;margin: 0 auto;}
footer br {margin: 30px 0 30px 0;}
    
.media_box {width: 380px; height: 140px; margin: 0 auto; text-align: center; display: flex; flex-flow: row wrap; justify-content: space-around; margin-top: 40px; margin-bottom: 20px;}
.media_box h3 {font-size: 26px; color: #fff; width: 100%; height: 45px; margin-bottom: 20px;}
.media_box i {font-size: 28px; color: #fff; border: 1px none; width: 60px; height: 60px; line-height: 60px; border-radius: 30px; background-color: #222;}
.media_box i:hover {background-color: #fff; color: #333; transform: scale(1.2); font-size: 32px;}
    
.logo_footer {width: 80%; height: 80px; margin: 0 auto; display: flex; flex-flow: row; justify-content: space-around; align-items: center;margin-bottom: 40px;}
.logo_footer img {width: 103px; align-self: center;}
.logo_footer p {font-size: 12px; color: #fff; padding: 0 0 0 10px;}
    
.regulration {width: 80%; height: 100px; margin: 0 auto; display: flex; flex-direction: row; justify-content: center;}
.regulration table {display:block; margin:4px 0 0 0; line-height:30px; border: 1px solid #222; border-collapse: collapse; font-size: 10px; width: 600px;}
.regulration table td {border: 1px solid #222; width: 25%; padding: 0 10px 0 25px; background-color: gold;}
.regulration table th {border: 1px solid #222; width: 25%; padding: 0 10px 0 10px; background-color: gold; font-size: 12px;}
    
/*주요 Content 사이 간격 조정*/
#void {width: 100%; height: 30px; margin: 0 auto;}

.menu-trigger.active span:nth-of-type(1) {
	-webkit-transform : translateY(15px) rotate(-45deg);
	transform : translateY(15px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
	left : 50%;
	opacity : 0;
	-webkit-animation : active-menu-bar05 .8s forwards;
	animation : active-menu-bar05 .8s forwards;
}
@-webkit-keyframes active-menu-bar05 {
	100% {
		height: 0;
	}
	}
@keyframes active-menu-bar05 {
	100% {
		height: 0;
	}
}
.menu-trigger.active span:nth-of-type(3) {
	-webkit-transform : translateY(-20px) rotate(45deg);
	transform : translateY(-20px) rotate(45deg);
}
}


/*header 내용*/
@media (min-width:1200px){
	header {width: 100%; height: 80px; margin: 0 auto;display: flex; flex-direction: row;justify-content: space-between; position: relative; z-index: 5; background-color: black;}

	.menu-trigger {display: none;}

	.menubar {width: 85%;height: 80px;display: flex; justify-content: space-between;}
	.menubar a:hover {color: cyan;}

	.list_me {width:60%; height: 100%;display: flex; flex-direction: row; align-items: center;}

	.main_menu {display: flex; flex-direction: row;justify-content: space-around;}
	.main_menu>li {font-size: 24px;margin: 0 20px 0 20px; width: 16.6%; position: relative;}
	.main_menu>li:hover ul{display: block;}
	.main_menu>li a {font-family: "Glitch Goblin"; color: #fff; padding: 0 0 0 5px;}

	.sub {width: 150px;display: none;position: absolute;background-color: #333;opacity: 0.8;z-index: 3;}
	.sub>li {font-size: 16px; height: 30px; color: #fff; line-height: 30px;}
	.sub>li:hover {background-color: gold; cursor: pointer;}
	.sub>li:hover a{color: violet;}
	
	
	.contbox_me {width: 20%; height: 80px; display: flex; flex-direction: row; align-items: center; justify-content: flex-end; overflow: hidden;}
	.contbox_me i {font-size: 24px; color: #fff;}
	.contbox_me a {margin: 0 10px 0 10px;}
	.contbox_me i:hover {color: cyan;}
	.play {display: block; padding: 10px 20px; background-color: gold; border-radius: 10px; font-size: 20px; font-family: "Glitch Goblin";color: #333; text-align: center;} 
	.contbox_me > .play:hover {color: #fff; background-color: yellow;}
	
	/*footer 내용*/
	footer {width: 100%; height: 480px; background-color: black;margin: 0 auto;}
	footer br {margin: 30px 0 30px 0;}
	
	.media_box {width: 380px; height: 140px; margin: 0 auto; text-align: center; display: flex; flex-flow: row wrap; justify-content: space-around; margin-top: 40px; margin-bottom: 50px;}
	.media_box h3 {font-size: 26px; color: #fff; width: 100%; height: 45px; margin-bottom: 20px;}
	.media_box i {font-size: 28px; color: #fff; border: 1px none; width: 60px; height: 60px; line-height: 60px; border-radius: 30px; background-color: #222;}
	.media_box i:hover {background-color: #fff; color: #333; transform: scale(1.2); font-size: 32px;}
	
	.logo_footer {width: 30%; height: 80px; margin: 0 auto; display: flex; flex-flow: row; justify-content: space-around; align-items: center;margin-bottom: 40px; margin-top: 40px;}
	.logo_footer img {width: 103px; align-self: center;}
	.logo_footer p {font-size: 12px; color: #fff; padding: 0 0 0 10px;}
	
	.regulration {width: 80%; height: 100px; margin: 0 auto; display: flex; flex-direction: row; justify-content: center;}
	.regulration table {display:block; margin:4px 0 0 0; line-height:30px; border: 1px solid #222; border-collapse: collapse; font-size: 10px; width: 600px;}
	.regulration table td {border: 1px solid #222; width: 25%; padding: 0 10px 0 25px; background-color: gold;}
	.regulration table th {border: 1px solid #222; width: 25%; padding: 0 10px 0 10px; background-color: gold; font-size: 12px;}
	
	/*주요 Content 사이 간격 조정*/
	#void {width: 100%; height: 60px; margin: 0 auto;}
	}
	