@charset "utf-8";





/*main 내용*/
@media (min-width:770px) and (max-width:1199px){
#slider {width: 100%; margin: 0 auto; overflow: hidden; z-index: 1;}
#slider video {width: 100%;z-index: 1;}

section {width: 63%; margin: 0 auto; display: flex; flex-flow: row wrap; justify-content: space-around;}
nav {width: 100%; height: 100px;display: flex; align-items: center;flex-direction: row; justify-content: flex-start;}
nav h1 {font-size: 90px; font-family: "Glitch Goblin"; margin-left: 20px; color: mediumvioletred;}
section a {width: 46%;margin: 1%;}
/* article {width: 31%; height: 325px;} */
article img {width: 100%; height: 80%;}
article h1 {color: #fff;}
article h5 {color: #fff; font-weight: normal;}

#mid_banner {width: 100%; overflow: hidden; position: relative; margin: 0 auto;}
#mid_banner::after {content: '';position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0,0,0.5);}
#mid_banner > img {width: 100%;}
#mid_banner > .banner_textbox {width: 62%; height: 300px; position: absolute; left: 50%;transform: translateX(-50%); bottom: 100px; text-align: center;z-index: 5;}
.banner_textbox h1 {color: gold; padding-top: 20px;}
.banner_textbox h4 {color: lightgray; margin: 20px 0 20px 0; font-size: 20px; font-weight: normal;}
.banner_textbox h4 span {font-weight: bold; font-size: 22px;; color: gold;}
#solid {margin: 0 auto; border: 1px solid gold; width: 120px; height: 40px; position: relative;}
#solid a {width: 120px; height: 40px; background-color: gold; position: absolute; top: 5px; left: 5px; line-height: 40px; font-family: "Glitch Goblin"; color: #333;}
#solid a:hover {color: red; background-color: yellow}


#impo {width: 80%; height: auto; margin: 0 auto; border-style: none none none solid; border-color: #fff; border-width: thin;}
.impo_head {margin-left: 5%; color: #fff;}
.impo_body {width: 88%; height: 600px;display: flex; margin: 5%; flex-wrap: wrap;}

.impo_craft {width: 88%; height: 480px; position: relative;}
.impo_craft img {width: 100%; height: 480px;}

.impo_battle {width: 800px; height: 480px; display: none;}
.impo_battle img {width: 800px; height: 480px;}

.impo_survive {width: 800px; height: 480px; display: none;}
.impo_survive img {width: 800px; height: 480px;}

.impo_button {width: 12%; height: 480px; display: flex; flex-direction: column;}
.impo_button button {width: 180px; height: 160px;}
.crbu {background-image: url(../img/crafting.webp); background-size: cover; transition: all 1s ease-in-out; background-position: center;}
.crbu span {transition: all 1s ease-in-out; opacity: 0; scale: 0; font-family: 'Noto Sans KR'; font-size: 20px; font-weight: bold;color: #fff;}
.crbu:hover {background-image: url(../img/cr_bu.jpg); background-size: cover;}
.crbu:hover span{opacity: 1; transform: scale(1);}

.babu {background-image: url(../img/battle.webp); background-size: cover; transition: all 1s ease-in-out;background-position: center;}
.babu span {transition: all 1s ease-in-out; opacity: 0; scale: 0; font-family: 'Noto Sans KR'; font-size: 20px; font-weight: bold;color: #fff;}
.babu:hover {background-image: url(../img/ba_bu.jpg); background-size: cover;}
.babu:hover span{opacity: 1; transform: scale(1);}

.subu {background-image: url(../img/survive.webp); background-size: cover; transition: all 1s ease-in-out; background-position: center;}
.subu span {transition: all 1s ease-in-out; opacity: 0; scale: 0; font-family: 'Noto Sans KR'; font-size: 20px; font-weight: bold;color: #fff;}
.subu:hover {background-image: url(../img/su_bu.jpg); background-size: cover;}
.subu:hover span{opacity: 1; transform: scale(1);}

.craft_text {width: 840px; height: 200px;}
.craft_text h1 {margin: 10px 0 10px 10px; color: #fff;}
.craft_text h3 {margin: 10px 0 10px 10px; color: #777;}

.battle_text {width: 840px; height: 200px; display: none;}
.battle_text h1 {margin: 10px 0 10px 10px; color: #fff;}
.battle_text h3 {margin: 10px 0 10px 10px; color: #777;}

.survive_text {width: 840px; height: 200px; display: none;}
.survive_text h1 {margin: 10px 0 10px 10px; color: #fff;}
.survive_text h3 {margin: 10px 0 10px 10px; color: #777;}

#chainfo {width: 100%; height: 920px; margin: 0 auto; position: relative;}
#chainfo > .asidl {width: 30%; height: 540px; position: absolute; top: 0; left: 0;background-image: linear-gradient(to right, black 10% , transparent);}
#chainfo > .asidr {width: 30%; height: 540px; position: absolute; top: 0; right: 0;background-image: linear-gradient(to left, black 10% , transparent);}
.chainfo_img {height: 540px; margin: 0 auto;}
.char_list1 {width: 100%;height: 180px;background-image: url(../img/list1.png);background-repeat: repeat-x;animation: characterRight 200s linear infinite;}
.char_list2 {width: 100%;height: 180px;background-image: url(../img/list-character-02.png);background-repeat: repeat-x;animation: characterLeft 200s linear infinite;}
.char_list3 {width: 100%;height: 180px;background-image: url(../img/list-character-03.png);background-repeat: repeat-x;animation: characterRight 200s linear infinite;}
.chatext {margin: 0 auto; width: 860px; height: 280px; text-align: center; margin-top: 80px;}
.chatext h1 {color: gold; font-size: 30px;margin: 30px 0 20px 0;}
.chatext h3 {color: #fff; font-size: 22px; font-weight: normal;}
.chatext>h3>b {font-size: 26px; color: gold; margin-top: 20px;}
.chatext #solid {margin: 30px auto; border: 1px solid gold; width: 120px; height: 40px; position: relative;}
.chatext #solid a {width: 120px; height: 40px; background-color: gold; position: absolute; top: 5px; left: 5px; line-height: 40px; font-family: 'Noto Sans KR'; color: #333; font-weight: bold;}
.chatext #solid a:hover {color: red; background-color: yellow}

#bottom_banner {width: 100%; height: 620px; background-image: url(../img/bg-play-er.jpg); background-size: cover; position: relative; margin: 0 auto; text-align: center;}
#bottom_banner img {width: 100%;position: absolute; bottom: 10px; left: 0;}
#bottom_banner h2 {color: #fff; font-size: 26px; color: gold; padding: 30px 0 30px 0;}
#bottom_banner>p {color: #fff; font-size: 22px; padding: 0 0 30px 0;}
#bottom_banner h1 {color: #fff; font-size: 30px; padding: 0 0 30px 0;}
#bottom_banner h1 span {color: gold;}

.platform {width: 40%; height: 50px; margin: 0 auto; display: flex; flex-direction: row; justify-content: center;}
.kakao {width: 150px; height: 50px; border: 1px solid #fff; line-height: 45px;font-size: 24px; margin-right: 10px; border-radius: 10px;}
.kakao span {color: #fff; font-family: "Consolas";}
.kakao span b{font-family: "Consolas";}
.kakao:hover {background-color: gold; border-color: gold;}
.kakao:hover b{color: #666;}

.steam {width: 150px; height: 50px; border: 1px solid #fff; line-height: 45px;font-size: 26px;margin-left: 10px;border-radius: 10px;}
.steam {color: #fff;}
.steam span {font-family: "Consolas";}
.steam:hover {background-color: skyblue; border-color: skyblue;}

.bot_banner_text {width: 60%; margin: 0 auto;text-align: left; color: #999;}
.bot_banner_text>p {color: #999;}
}

/*animation*/
@keyframes characterRight {
    0% {background-position:0 0;}
    100% {background-position:-10000px 0;}
}

@keyframes characterLeft {
    0% {background-position:0 0;}
    100% {background-position:10000px 0;}
}