@charset "utf-8";
@font-face {font-family: "Cyberwar"; src: url(../font/CyberwarRegular-7BX0E.ttf) format('truetype')}
@font-face {font-family: "Glitch Goblin"; src: url(../font/GlitchGoblin-2O87v.ttf) format('truetype');}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
@media (max-width:769px){
#slider {width: 100%; display: flex; justify-content: center; background-color: #222; flex-flow: row wrap;}
.character_wrap {width: 350px; height: 120px; overflow: hidden; position: relative;}
.prev1 {color: #fff; font-size: 40px; position: absolute; top: 28%; left: 0; z-index: 1;}
.prev1:hover {cursor: pointer;}
.next1 {color: #fff; font-size: 40px; position: absolute; top: 28%; right: 0;}
.next1:hover {cursor: pointer;}

.character_list {width: 100%;height: 250px;display: flex; flex-direction: row; justify-content: flex-start; position: absolute; left: 30px;}
.character {display: flex; flex-flow: row wrap; justify-content: center;align-items: flex-start; height: 100px;box-sizing: content-box;}
.character h4 {width: 100%; font-size: 30px; text-align: center; color: aliceblue;}


.list_text {display: flex;flex-flow: row wrap;width: 300px;}
.list_text h1 {width: 100%;font-size: 40px; color: aliceblue; text-align: center; flex-shrink: 0;}
.list_text h5 {width: 100%; font-size: 14px; color: aliceblue; text-align: center;}
.list_text:hover {cursor: pointer;}

.character_img {z-index: 1;}
.character_img img{width: 100%}
.img {width: 100%;height: 900px; flex-flow: row wrap;}
.img img{align-self: flex-start;}
.img_textbox {width: 90%;display: flex; flex-flow: row wrap; align-content: center;margin-left: 5%; margin-right: 5%; margin-bottom: 50px;}
.img_textbox h3 {width: 100%; font-size: 30px; color: red; margin-bottom: 20px;}
.img_textbox p { font-size: 16px; color: #fff;}


section {width: 100%; background-color: #222; position: relative; z-index: 1;}

#Skill_box {width: 90%; height: 90%; margin: 0 auto;}
#Skill_box > h1 {font-size: 60px; margin: 30px 0 0 0px; color: cyan;}
.Character_skill {width: 100%;height: 100%;display: flex; justify-content: flex-start; align-items: center;margin: 0 auto; flex-direction: column-reverse}
.Skill_img {width: 100%; height: 40%;display: flex; flex-flow: row wrap; justify-content: center; align-content: flex-start;}
.btn {border: none; width: 90px; height: 90px; margin-left: 30px; cursor: pointer;margin-top: 20px;}
.btn > img {width: 90px; height: 90px;}
button:nth-of-type(1) {margin-left: 0;}
.video video {width: 100%; max-width: 480px;}

.Skill {margin-bottom: 50px;}
.Skill > h2 {font-size: 32px; margin-top: 20px; margin-bottom: 20px; color: red;}
.Skill > p {font-size: 16px; color: #fff;}

#etc_content {width: 100%;background-color: #222; margin: 0 auto;}
.Character_skin_list {width: 100%; height: 90%;}
.Character_skin_list > h1 {font-size: 60px; color: cyan; margin: 10px 0 30px 10px;}
.Character_skin {justify-content: space-around; text-align: center; flex-flow: row wrap;}
.Skin {margin-top: 40px; margin-bottom: 40px;}
.Skin > p {color: #fff; font-size: 24px;}
.Skin img {width: 95%; height: 280px; margin-left: 2.5%; margin-right: 2.5%;}

.prev {display: none;}
.next {display: none;}








.Jackie1 {display: flex;}
.Aya1 {display: none;}
.Hyunwoo1 {display: none;}
.Magnus1 {display: none;}
.Fiora1 {display: none;}
.Nadine1 {display: none;}
.Zahir1 {display: none;}
.Hart1 {display: none;}
.Isol1 {display: none;}
.Lidailin1 {display: none;}

.skill_Q {display: block;}
.skill_W {display: none;}
.skill_E {display: none;}
.skill_R {display: none;}
.skill_P {display: none;}

.text_Q {display: block;}
.text_W {display: none;}
.text_E {display: none;}
.text_R {display: none;}
.text_P {display: none;}
}