@charset "utf-8";


#slider {width: 100%; height: 900px; display: flex; align-items: center; justify-content: space-between; background-color: #222;}
.character_wrap {width: 23%; height: 230px; overflow: hidden; position: relative;}
.prev {color: #fff; font-size: 40px; position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
.prev:hover {cursor: pointer;}
.next {color: #fff; font-size: 40px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
.next:hover {cursor: pointer;}

.character_list {width: 100%;height: 130px;display: flex; flex-direction: column; justify-content: flex-start; position: absolute; top: 50%; transform: translateY(-50%);}
.character {display: flex; flex-direction: row; justify-content: flex-start;align-items: center; height: 100px; padding: 11px 30px 20px 30px;margin-bottom: 30px; box-sizing: content-box;}
.character h4 {width: 20%; font-size: 50px; text-align: center; color: aliceblue;}


.list_text {display: flex;flex-flow: row wrap; padding-left: 30px;}
.list_text h1 {font-size: 60px; color: aliceblue;}
.list_text h5 {width: 60%; font-size: 14px; color: aliceblue;}
.list_text:hover {cursor: pointer;}

.character_img {width: 80%;position: absolute; left: 55%;transform: translateX(-45%);}
.character_img img{width: 70%;margin-left: 50px;}
.img {height: 900px;}
.img img{float: left; align-self: flex-start; height: 100vh; width: 40vw; padding-top: 10px;}
.img_textbox {width: 30%;display: flex; flex-flow: row wrap; align-content: center;margin-left: 10%;}
.img_textbox h3 {width: 100%; font-size: 30px; color: red; margin-bottom: 20px;}
.img_textbox p { font-size: 16px; color: #fff;}


section {width: 100%; height: 600px; background-color: #222; position: relative;}

#Skill_box {width: 90%; height: 90%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
#Skill_box > h1 {font-size: 60px; margin: 30px 0 0 30px; color: cyan;}
.Character_skill {width: 100%;height: 100%;display: flex; justify-content: space-around; align-items: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.Skill_img {width: 40%; height: 40%;}
.btn {border: none; width: 90px; height: 90px; margin-left: 30px; cursor: pointer;}
button:nth-of-type(1) {margin: 0;}

.Skill > h2 {font-size: 32px; margin-top: 20px; margin-bottom: 20px; color: red;}
.Skill > p {font-size: 16px; color: #fff;}







#etc_content {width: 100%; height: 500px; background-color: yellowgreen;}



.Jackie1 {display: flex;}
.Aya1 {display: none;}
.Hyunwoo1 {display: none;}
.Magnus1 {display: none;}
.Fiora1 {display: none;}
.Nadine1 {display: none;}
.Zahir1 {display: none;}
.Hart1 {display: none;}
.Isol1 {display: none;}
.Lidailin1 {display: none;}

.skill_Q {display: block;}
.skill_W {display: none;}
.skill_E {display: none;}
.skill_R {display: none;}
.skill_P {display: none;}

.text_Q {display: block;}
.text_W {display: none;}
.text_E {display: none;}
.text_R {display: none;}
.text_P {display: none;}