@charset "utf-8";
@font-face {font-family: "Cyberwar"; src: url(../font/CyberwarRegular-7BX0E.ttf) format('truetype')}
@font-face {font-family: "Glitch Goblin"; src: url(../font/GlitchGoblin-2O87v.ttf) format('truetype');}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
@media (min-width:1200px){
#slider {width: 100%; height: 900px; display: flex; align-items: center; justify-content: space-between; background-color: #222; z-index: 1;}
.character_wrap {width: 27%; height: 200px; overflow: hidden; position: relative;}
.prev {color: #fff; font-size: 40px; position: absolute; top: 0; left: 30%; transform: translateX(-50%); }
.prev:hover {cursor: pointer;}
.next {color: #fff; font-size: 40px; position: absolute; bottom: 0; left: 30%; transform: translateX(-50%);}
.next:hover {cursor: pointer;}

.character_list {width: 100%;height: 130px;display: flex; flex-direction: column; justify-content: flex-start; position: absolute; top: 50%; transform: translateY(-50%);}
.character {display: flex; flex-direction: row; justify-content: flex-start;align-items: center; height: 100px; padding: 11px 30px 20px 30px;margin-bottom: 30px; box-sizing: content-box;}
.character h4 {width: 20%; font-size: 50px; text-align: center; color: aliceblue;}


.list_text {display: flex;flex-flow: row wrap; padding-left: 30px; flex-shrink: 0;}
.list_text h1 {font-size: 60px; color: aliceblue;}
.list_text h5 {width: 60%; font-size: 14px; color: aliceblue;}
.list_text:hover {cursor: pointer;}

.character_img {width: 80%;position: absolute; left: 55%;transform: translateX(-45%); z-index: 1;}
.character_img img{width: 70%;margin-left: 50px;}
.img {height: 900px;}
.img img{float: left; align-self: center; height: 100vh; padding-top: 10px;}
.img_textbox {width: 30%;display: flex; flex-flow: row wrap; align-content: center;margin-left: 10%;}
.img_textbox h3 {width: 100%; font-size: 30px; color: red; margin-bottom: 20px;}
.img_textbox p { font-size: 16px; color: #fff;}


section {width: 100%; background-color: #222; z-index: 1; margin-top: 100px;}

#Skill_box {width: 100%; height: 90%;margin: 0 auto;}
#Skill_box > h1 {font-size: 60px; color: cyan; padding: 30px 0 0 30px;}
.Character_skill {width: 100%;height: 100%;display: flex; justify-content: space-around; align-items: center; margin: 0 auto;}
.Skill_img {width: 40%; height: 40%;}
.btn {border: none; width: 90px; height: 90px; margin-left: 30px; cursor: pointer;}
.btn > img {width: 90px; height: 90px;}
button:nth-of-type(1) {margin: 0;}
.video video {width: 95%; height: 380px;margin-left: 10px; margin-bottom: 30px;}

.Skill > h2 {font-size: 32px; margin-top: 20px; margin-bottom: 20px; color: red;}
.Skill > p {font-size: 16px; color: #fff; margin-bottom: 30px;}

#etc_content {width: 100%;background-color: #222; margin-top: 50px;}
.Character_skin_list {width: 100%; height: 90%; margin: 0 auto;}
.Character_skin_list > h1 {font-size: 60px; color: cyan; padding: 15px 0 25px 20px;}
.Character_skin {justify-content: space-around; text-align: center; flex-flow: row;}
.Skin {margin-bottom: 40px;}
.Skin > p {color: #fff; font-size: 24px;}
.Skin img {width: 90%; height: 280px;}
/*
.Magnus h4 {font-size: 3.33vw;}
.Magnus>.list_text>h1{font-size: 3.4vw;}
.Magnus>.list_text>h5{font-size: 1.17vw;}

.Lidailin h4 {font-size: 3.33vw;}
.Lidailin>.list_text>h1{font-size: 3.35vw;}
.Lidailin>.list_text>h5{font-size: 1.17vw;}
*/


.prev1 {display: none;}
.next1 {display: none;}

.Jackie1 {display: flex;}
.Aya1 {display: none;}
.Hyunwoo1 {display: none;}
.Magnus1 {display: none;}
.Fiora1 {display: none;}
.Nadine1 {display: none;}
.Zahir1 {display: none;}
.Hart1 {display: none;}
.Isol1 {display: none;}
.Lidailin1 {display: none;}

.skill_Q {display: block;}
.skill_W {display: none;}
.skill_E {display: none;}
.skill_R {display: none;}
.skill_P {display: none;}

.text_Q {display: block;}
.text_W {display: none;}
.text_E {display: none;}
.text_R {display: none;}
.text_P {display: none;}
}