@charset "utf-8";


#slider {width: 100%; height: 900px; background-color: cyan; position: relative; overflow: hidden;}
.character_list {width: 12%; display: flex; flex-direction: column; position: absolute; top: 0; left: 10%;overflow: hidden;}
.character {display: flex; flex-direction: row; width: 100%; height: 100px; align-items: center;}
.character h4 {width: 20%; font-size: 36px; text-align: center;}

.list_text {width: 80%; display: flex;flex-flow: row wrap;padding-left: 10px;}
.list_text h1 {width: 100%; font-size: 42px;}
.list_text h5 {width: 100%; font-size: 14px;}



section {width: 100%; height: 900px; background-color: pink;}

#etc_content {width: 100%; height: 500px; background-color: yellowgreen;}